body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 50px;
    padding: 0;
    margin: auto;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.container{
    margin:100px auto;
    padding: 40px;
    width: 40%;
    background-color: rgb(30, 26, 26);
    box-shadow: 0 2px 12px -8px black   ;
    border-radius: 20px;
}

p{
    font-size: 3em;
    text-align: center;
    color: white;
    padding: 0;
}
ul{
    color: white;
    padding: 6px;
}
li{
    padding: 5px;
    display: flex;
    color: white;
    
    
}
.btn{
    padding: 6px;
    border: 2px solid rgb(176, 173, 173);
    margin: auto;
    justify-content: space-around;
    text-transform: uppercase;
    border-radius: 6px
    
}
.btn:hover{
    background-color: rgb(233, 216, 216);
}
.btn:active{
    border-bottom: 2px solid red;
}
.btn-tarefa{
    margin-left: 0;
    padding: 6px;
    border: 2px solid white;
    border-radius: 6px;
    text-transform: uppercase;
}
.btn-tarefa:hover{
    background-color: rgb(182, 167, 167);
}

.pausado{
    color: rgb(233, 19, 19);
}
input{
    padding: 6px;
}